<configuration debug="false">
    
  <!-- Console -->  
    
  <appender name="S" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} %c{1} [%p] %m%n</pattern>
    </encoder>
  </appender>
  <logger name="org.w3c.tidy" level="OFF"/>
  <logger name="ch.qos" level="OFF"/>
  <logger name="org.slf4j" level="OFF"/>

  <root level="WARN">
    <appender-ref ref="S"/>
  </root>
</configuration>